section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    text-align: center;
    font-size: 2rem;
}

button {
    width: 10rem;
    height: 40px;
    background-color: #ffffff;
    color: #262626;
    border-radius: 5px;
    margin-top: 5px;
}